.student-interface {
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
  }
  
  .button-container .MuiButton-root {
    margin-bottom: 30px;

  }
  
  .update-profile-paper, .delete-account-paper {
    padding: 20px;
    margin-top: 20px;
  }
  